[project]
name = "http-speed-downloader"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "aiofiles>=25.1.0",
    "aiohttp>=3.13.3",
    "clicks>=0.0.59",
    "pyside6>=6.10.2",
]
